In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('1233@data.csv')
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
data.shape

(29, 4)

In [5]:
data.isnull().sum()

Country      0
Age          3
Salary       4
Purchased    0
dtype: int64

In [7]:
X=data.iloc[:,:-1].values
y=data.iloc[:,3].values

In [12]:
#from sklearn.preprocessing import Imputer
#imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [11]:
print(data)

      Country   Age   Salary Purchased
0      France  44.0  72000.0        No
1       Spain  27.0  48000.0       Yes
2     Germany  30.0  54000.0        No
3       Spain  38.0  61000.0        No
4     Germany  40.0      NaN       Yes
5      France  35.0  58000.0       Yes
6       Spain   NaN  52000.0        No
7      France  48.0  79000.0       Yes
8     Germany  50.0      NaN        No
9      France  37.0  67000.0       Yes
10      Nepal  45.0  87699.0        No
11      India  34.0  23899.0       Yes
12      China   NaN  32000.0       Yes
13        USA  23.0  56000.0        No
14     Russia  67.0  24000.0        No
15      Japan  23.0  56000.0       Yes
16      Korea  45.0  57000.0        No
17      Spain  32.0  12000.0       Yes
18     France  65.0  43987.0       Yes
19        UAE  32.0  45321.0       Yes
20      Qatar  84.0  56789.0        No
21    Hungary   NaN  23456.0       Yes
22     Poland  23.0  76345.0        No
23      Japan  56.0      NaN        No
24  Australia  89.0  78945.0       Yes
25      Nepal  23.0  56754.0        No
26     Russia  27.0      NaN        No
27      Nepal  58.0  56788.0       Yes
28      China  24.0  23567.0       Yes